@import "./util.css";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --bg : rgba(20,20,20,1);
}
body{
    background-color: var(--bg);
    color: white;
}
.heading{
    margin:30px;
    color: orange;
}
.timeline{
    display: flex;
    justify-content: center;
}
.timeline .date{
    width: 304px;
    margin-top: 80px;
}
.timeline .date span{
    position: relative;
    background-color: rgba(0,0,225,0.2);
    border:2px solid rgba(0,0,225,0.5);
    padding: 10px;
}
.timeline .date .left::before{
    position: absolute;
    border: 10px solid transparent;
    left: -25px;
    content: " ";
    border-right-color: rgba(0,0,225,0.5);
}
.timeline .date .right::before{
    position: absolute;
    border: 10px solid transparent;
    right: -20px;
    content: " ";
    border-left-color: rgba(0,0,225,0.5);
}

.timeline .content{
    width: 300px;
    position: relative;
    margin-top: 70px;
    background-color: rgba(0,0,225,0.2);
    border: 2px solid rgba(0,0,225,0.5);
}
.timeline .content .left::before{
    position: absolute;
    border: 10px solid transparent;
    left: -25px;
    content: " ";
    border-right-color: rgba(0,0,225,0.5);
}
.timeline .content .right::before{
    position: absolute;
    border: 10px solid transparent;
    right: -25px;
    content: " ";
    border-left-color: rgba(0,0,225,0.5);
}
.timeline .content h3{
    margin: 10px;
    margin-bottom: 10px;
}
.timeline .content p{
    margin: 10px;
    margin-top: 0;
    color: rgba(200,200,200,1);
    font-size: 14px;
}
.timeline .line{
    background-color: blue;
    width: 3px;
    margin-left: 60px;
    margin-right: 60px;
    overflow: visible;
    display: flex;
    justify-content: center;
}
.timeline .line .dot{
    background-color: blue;
    border: 5px solid var(--bg);
    height: 5px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 80px;
    color: blue;
}

.left, .right{
    text-transform: uppercase;
}